
.idea/
venv-git/
=======
venv-sql/

venv-sql/
colors.scheme.xml
dbnavigator.xml
debugger.xml
diff.xml
filetypes.xml
=======
colors.scheme.xml
dbnavigator.xml
debugger.xml


=======
diff.xml
filetypes.xml