<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Navbar-->
<head>
    {% block title %}
    <title>{{ data.get('title') }}</title>
    {% endblock %}
</head>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/alarm_clock">Alarm clock</a>
                <a class="nav-link" href="/headphones">Headphones</a>
                <a class="nav-link" href="/IPod">iPod</a>
                <a class="nav-link" href="/calculator">Calculator</a>
                <a class="nav-link" href="/coffeemaker">Coffeemaker</a>
                <a class="nav-link" href="/battery_charger">Battery charger</a>
                <a class="nav-link" href="/author">Author</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->

<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div>
                <!-- Content -->
                {% block name %}
                <h3><b>{{ data.get('title') }}</b></h3>
                {% endblock %}
                {% block photo %}
                {% endblock%}
                {% block text %}
                    <p>{{ data.get('text') }}</p>
                <p><i>This description contains {{ data.get('text') | wordcount }} words</i></p>
                {% endblock %}
            </div>
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <a href="/author">Author</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
