{% extends "main.html" %}
{% block body %}
<div class="card mb-3" style="max-width: 740px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ url_for('supermarkets.static', filename=image) }}" class="card-img-top" alt="Photo supermarket">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ name }}</h5>
                <p class="card-text">Location: {{ location }}</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
